---
subtitle: "Projects"
---

.row
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "Firefight", "https://github.com/WLCSC/firefight"
      Support ticket, asset management, and consumable tracking.
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "Projectionist", "https://github.com/WLCSC/projectionist"
      Digital signage controller & content scheduler.

.row
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "Proctor", "https://github.com/WLCSC/proctor"
      Keeps track of people that have signed up for AP tests & the like.
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "Convocator", "https://github.com/WLCSC/convocator"
      Workshop & event registration management.

.row

  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "Scholarship Book", "https://github.com/WLCSC/scholarshipBook"
      Application & judging app for our local scholarships.
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "Dude, Where's My Cart?", "https://github.com/WLCSC/dude-wheres-my-cart"
      Silly little app to keep track of our laptop & iPad carts.

.row
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "WePict", "https://github.com/WLCSC/wePict"
      Drawing-based classroom response system.
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "EchoChamber", "https://github.com/WLCSC/echoChamber"
      Audio streaming for world language listening activities.

.row
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "Dashboard", "https://github.com/WLCSC/dashboard"
      Centralized status notifications for our many IT services.
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "HallMonitor", "https://github.com/WLCSC/dude-wheres-my-cart"
      Check in & out of my classroom so I know where you are.

.row
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "SATimer", "https://github.com/btgeek/SATimer"
      Because we need another little JavaScript timer thingy.
  .small-12.large-6.columns
    .panel.project
      %h2.title= link_to "PhotoBooth", "https://github.com/btgeek/photobooth"
      Hacky little photobooth setup powered by Sinatra & EyeFi.
